.container {
    max-width: 1366px;
    padding-left: 98px;
    padding-right: 98px;
    margin: 0 auto;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}