.tabs {
  margin-bottom: 92px;

  @media (max-width: 1023px) {
    margin-bottom: 64px;
  }

  @media (max-width: 767px) {
    margin-bottom: 53px;
  }


  .swiper-slide {
    align-self: stretch;
    height: auto;

    &>* {
      height: 100%;
      width: 100%;
    }
  }

  .swiper-pagination {
    bottom: 14px;

    @media (max-width: 1023px) {}

    @media (max-width: 767px) {
      bottom: 7px;
    }
  }

  .swiper-pagination-bullet {
    background: #2028B6;
    opacity: 1;

    &:focus,
    &:hover {
      opacity: 0.7;
    }

    @media (max-width: 1023px) {}

    @media (max-width: 767px) {
      margin: 0 3px;
      width: 6px;
      height: 6px;
    }
  }

  .swiper-pagination-bullet-active {
    background: #E0E0E0;
    opacity: 1;

    @media (max-width: 1023px) {}

    @media (max-width: 767px) {}
  }

  @media (max-width: 1023px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.tabs__heads {
  list-style: none;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {}

}

.tabs__title {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  cursor: pointer;

  transition: opacity 0.3s ease;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {}

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  svg {
    margin-right: 10px;

    @media (max-width: 1023px) {}

    @media (max-width: 767px) {}
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4C4B51;

    @media (max-width: 1023px) {}

    @media (max-width: 767px) {}
  }

  &--active {
    background: #F6F7FF;
  }
}