.tabs {
  margin-bottom: 110px;  
	
	.swiper-pagination-bullet {
		background: #2028B6;
		opacity: 1;
	}
	
	.swiper-pagination-bullet-active {
		background: #F6F7FF;
		opacity: 1;
	}
}

.tabs__heads {  
  list-style: none;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

}

.tabs__title {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  cursor: pointer;
  
	transition: opacity 0.3s ease;

	&:hover,
	&:focus {
		opacity: 0.7;
	}

  svg {
    margin-right: 10px;
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4C4B51;
  }

  &--active {
    background: #F6F7FF;
  }
}