.calculator {
  margin-bottom: 102px;
  color: #1F1E25;

  @media (max-width: 1023px) {
    margin-bottom: 69px;
  }

  @media (max-width: 767px) {
    margin-bottom: 53px;
  }
}

.calculator__title {
  font-weight: bold;
  font-size: 41px;
  line-height: 140%;
  margin: 0;
  margin-bottom: 50px;

  @media (max-width: 1023px) {
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 27px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 20px;
  }
}

.calculator__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {}
}

.calculator__partition {
  flex-basis: 51%;
  margin-right: 70px;

  @media (max-width: 1023px) {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.calculator__section {

  &--one {
    @media (max-width: 1023px) {}

    @media (max-width: 767px) {}
  }

  &--two {
    margin-top: 31px;

    @media (max-width: 1023px) {}

    @media (max-width: 767px) {
      margin-top: 24px;
    }

    >div {
      margin-bottom: 19px;

      @media (max-width: 767px) {
        margin-bottom: 17px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--proposal {
    flex-basis: calc(49% - 70px);
    margin-bottom: auto;
    margin-top: 5px;
    padding: 55px 60px;
    padding-right: 55px;
    background-color: #F6F7FF;

    @media (max-width: 1023px) {
      flex-basis: 100%;
      margin-top: 32px;
      padding-bottom: 58px;
    }

    @media (max-width: 767px) {
      padding: 34px 15px;
      margin-top: 22px;
      padding-bottom: 39px;
    }
  }

  &--three {
    flex-basis: 66%;
    margin-top: 59px;
    padding: 65px 70px;
    background-color: #F6F7FF;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1023px) {
      background-color: inherit;
      margin-top: 0;
      padding: 57px 0px;
      padding-bottom: 0;
      flex-basis: 100%;
    }

    @media (max-width: 767px) {
      padding: 45px 0px;
      padding-bottom: 0;
    }
  }
}

.calculator__section-name {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 22px;

  @media (max-width: 1023px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 15px;
  }

  &--proposal {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 140%;

    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 140%;
    }
  }

  &--no-credit {
    margin-bottom: 25px;
  }

  &--three {
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: 1023px) {
      margin-bottom: 24px;
    }

    @media (max-width: 767px) {
      margin-bottom: 16px;
    }
  }
}

.calculator__select {
  transition: border-color 0.3s ease;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {}

  &__indicators {
    display: none;

    svg,
    span {
      display: none;
    }
  }

  &:hover,
  &:focus {
    border-color: #2C36F2;
  }
}

.calculator__input {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  border: 1px solid #1F1E25;
  border-radius: 4px;
  padding: 17px;
  margin-bottom: 5px;

  outline: none;

  -moz-appearance: textfield;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 140%;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  transition: border-color 0.3s ease;

  &--error {
    border-color: red;
  }

  &--range {
    padding: 0;
    margin: 0;
    margin-bottom: 14px;

    @media (max-width: 1023px) {
      margin-bottom: 12px;
    }

    @media (max-width: 767px) {}

    &::-webkit-slider-runnable-track {
      height: 1px;
      border: none;
      border-radius: 0;
      background-color: #C1C2CA;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #2C36F2;
      border: none;
      width: 14px;
      height: 14px;
      border-radius: 7px;
      cursor: pointer;
      margin-top: -7px;
    }

    &::-moz-range-track {
      height: 1px;
      border: none;
      border-radius: 0;
      background-color: #C1C2CA;
    }

    &::-moz-range-thumb {
      background-color: #2C36F2;
      border: none;
      width: 14px;
      height: 14px;
      border-radius: 7px;
      cursor: pointer;
      margin-top: -7px;
      margin-bottom: 15px;
    }
  }

  &:hover,
  &:focus {
    border-color: #2C36F2;
  }
}

.calculator__sum {
  position: relative;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {}

  .calculator__svg {
    cursor: pointer;
    position: absolute;
    border: none;
    background: inherit;
    top: calc(50% - 14px);
    width: 16px;
    height: 16px;
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1023px) {}

    @media (max-width: 767px) {
      top: calc(50% - 12px);
    }

    &--minus {
      left: 24px;
      background-image: url('../../img/minus.svg');
    }

    &--plus {
      right: 20px;
      background-image: url('../../img/plus.svg');

      @media (max-width: 767px) {
        right: 15px;
      }

    }
  }
}

.calculator__label {
  display: block;
  margin: 0;
  color: #394959;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 7px;

  @media (max-width: 1023px) {
    margin-top: -4px;
  }

  &--date {
    margin-bottom: 0;
  }

  &--no-credit {
    margin-bottom: 0;
  }

  &--checkbox {
    position: relative;
    color: #1F1E25;
    padding-left: 24px;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 140%;
    }
  }
}


.calculator__checkbox {
  +.calculator__label--checkbox::before {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 2px;
    content: "";
    width: 16px;
    height: 16px;
    border: none;
    background-color: #2C36F2;
    border-radius: 2px;
    z-index: 1;
  }

  &:checked+.calculator__label--checkbox::after {
    position: absolute;
    left: 2px;
    top: 5px;
    content: "";
    width: 12px;
    height: 10px;
    z-index: 100;
    background-image: url("../../img/check-white.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.calculator__years {
  @media (max-width: 1023px) {}

  @media (max-width: 767px) {}

  >div {
    display: flex;
    justify-content: space-between;
  }
}

.calculator__text-bold {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;

  @media (max-width: 1023px) {
    margin-bottom: 4px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 140%;
  }
}

.calculator__text-small {
  color: #707C87;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {}
}

.calculator__proposal {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 16px;
  }

  div {
    width: calc(53% - 49px);
    margin-bottom: 23px;

    @media (max-width: 1023px) {
      width: 32%;
    }

    @media (max-width: 767px) {
      margin-bottom: 6px;
    }

    &:nth-of-type(odd) {
      width: 47%;
      margin-right: 49px;

      @media (max-width: 1023px) {
        margin-right: 46px;
        width: 32%;
      }

      @media (max-width: 767px) {
        margin-right: 0;
      }
    }
  }
}

.calculator__dates {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    margin-bottom: 33px;
  }
}

.calculator__date {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 6px;
  border-bottom: 1px solid #C4C4C4;

  @media (max-width: 1023px) {
    padding-top: 17px;
    padding-bottom: 3px;
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    padding-bottom: 11px;
  }
}

.calculator__personal-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.calculator__personal {
  flex-basis: 47%;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-align: left;
  border: 1px solid #0A1E32;
  background-color: #F6F7FF;
  color: #707C87;
  border-radius: 4px;
  padding: 17px 24px;
  margin-bottom: 30px;
  outline: none;

  transition: border-color 0.3s ease;

  @media (max-width: 1023px) {
    background-color: inherit;
  }

  @media (max-width: 767px) {
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 140%;
    padding: 17px 14px;
  }

  &--error {
    border-color: red;
    animation: shake 0.5s;
    animation-iteration-count: 3;
  }

  &:first-of-type {
    flex-basis: 100%;
  }

  &:nth-of-type(2) {
    margin-right: 30px;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 22px;
    }
  }

  &:last-of-type {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &:hover,
  &:focus {
    border-color: #2C36F2;
  }
}

.calculator__button {
  cursor: pointer;
  display: block;
  text-decoration: none;
  background: #2C36F2;
  padding: 16px 61px;
  color: #F6F7FF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0px;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;

  transition: opacity 0.3s ease;

  @media (max-width: 1023px) {
    width: 100%;
  }

  @media (max-width: 767px) {}

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &--proposal {
    padding: 16px 30px;
    width: 100%;
    margin-top: 5px;

    @media (max-width: 1023px) {
      margin-top: 1px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 140%;
    }

  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.calculator__input-wrapper {
  position: relative;
}

.calculator__input-error {
  position: absolute;
  width: max-content;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;

  .calculator__input--error+& {
    opacity: 1;
    visibility: visible;
  }
}