.slide-credit {
	min-height: 400px;
	background-color: #2C36F2;
	background-image: url('../../img/background1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding-top: 102px;
	padding-bottom: 75px;

	@media (max-width: 1023px) {
		min-height: 300px;
		padding-top: 64px;
		padding-bottom: 62px;
		background-image: url('../../img/background1-tablet.jpg');
	}

	@media (max-width: 767px) {
		min-height: 226px;
		padding-top: 40px;
		padding-bottom: 32px;
		background-image: url('../../img/background1-mobile.jpg');
	}
}

.slide-credit__container {
	display: flex;
}

.slide-credit__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	padding-left: 170px;
	margin-bottom: 15px;
	
	@media (max-width: 1200px) {
		padding-left: 70px;
	}

	@media (max-width: 1023px) {
		padding-left: 41px;
	}

	@media (max-width: 767px) {
		padding-left: 0;
	}

	@media (max-width: 382px) {
		width: 71%;
	}
}

.slide-credit__title {
	margin: 0;
	font-size: 54px;
	line-height: 63px;
	font-weight: 700;
	margin-bottom: 10px;

	@media (max-width: 1023px) {
		margin-bottom: 8px;
		font-size: 46px;
		line-height: 54px;
	}

	@media (max-width: 767px) {
		font-size: 38px;
		line-height: 45px;
	}
}

.slide-credit__text {
	margin: 0;
	margin-bottom: 33px;
	font-size: 22px;
	line-height: 26px;

	@media (max-width: 1023px) {
		font-size: 18px;
		margin-bottom: 29px;
		line-height: 21px;
	}

	@media (max-width: 767px) {
		margin-bottom: 26px;
		font-size: 16px;
		line-height: 19px;
	}
}

.slide-credit__link {
	display: block;
	text-decoration: none;
	padding: 16px 36px;
	background-color: #F6F7FF;
	color: #1F1E25;
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
	text-align: center;
	border-radius: 4px;

	transition: background-color 0.3s ease;

	@media (max-width: 1023px) {
		font-size: 16px;
		line-height: 19px;
		padding: 14px 32px;
	}

	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 16px;
		padding: 14px 31px;
	}

	&:hover,
	&:focus {
		background-color: rgb(223, 221, 238);
	}
}