.slide-credit {
	min-height: 400px;
	background-color: #2C36F2;
	background-image: url('../../img/background1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding-top: 80px;
	padding-bottom: 75px;

	@media (max-width: 1023px) {	
		background-image: url('../../img/background1-tablet.jpg');	
	}

	@media (max-width: 767px) {
		background-image: url('../../img/background1-mobile.jpg');
	}	
}

.slide-credit__container {
	display: flex;
}

.slide-credit__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	padding-left: 170px;
	margin-bottom: 15px;

	@media (max-width: 1023px) {		
	}

	@media (max-width: 767px) {
	}
}

.slide-credit__title {
	margin: 0;
	font-size: 54px;
	line-height: 63px;
	font-weight: 700;
	margin-bottom: 10px;

	@media (max-width: 1023px) {		
		font-size: 46px;
		line-height: 54px;
	}

	@media (max-width: 767px) {
		font-size: 38px;
		line-height: 45px;
	}
}

.slide-credit__text {
	margin: 0;
	margin-bottom: 33px;
	font-size: 22px;
	line-height: 26px;

	@media (max-width: 1023px) {		
		font-size: 18px;
		line-height: 21px;
	}

	@media (max-width: 767px) {
		font-size: 16px;
		line-height: 19px;
	}
}

.slide-credit__link {
	display: block;
	text-decoration: none;
	padding: 16px 36px;
	background-color: #F6F7FF;
	color: #1F1E25;
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
	text-align: center;
	border-radius: 4px;

	transition: background-color 0.3s ease;

	@media (max-width: 1023px) {	
		font-size: 16px;
		line-height: 19px;
	  padding: 18px 32px;	
	}

	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 16px;
	  padding: 16px 31px;	
	}

	&:hover,
	&:focus {
		background-color: rgb(223, 221, 238);
	}
}

.slide-credit__picture {
	img {
		transform: scaleX(1.12) scaleY(1.17) translate(33px, 3px);
	}

	@media (max-width: 1023px) {		
	}

	@media (max-width: 767px) {
	}
}