.popup-info {
  position: fixed;

}

.popup-info__wrapper {
  position: fixed;
  padding: 60px;
  flex-basis: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 0;
  width: 40%;
  background: #F6F7FF;
  border: none;
} 

.popup-info__head {
  display: block;
  flex-wrap: wrap;  
  position: relative;
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 25px;
  color: #1F1E25;
  margin-right: auto;
  margin-left: auto;
}


.popup-info__close {
  position: absolute;
  top: 25px;
  right: 25px;
  display: block;
  cursor: pointer;
  border: none;
  background-color: inherit;
  margin-left: auto;
}

.popup-info__text {    
  margin: 0;
  text-align: center;
  font-weight: normal;
  display: block;
  font-size: 16px;
  line-height: 140%;
  color: #394959;
}

