.footer {
	background-color: #F6F7FF;
	padding-top: 51px;
	padding-bottom: 60px;
}

.footer__container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.footer__column {
	margin-right: 80px;

	&--logo {
		max-width: 252px;
	}

	&--phone1 {
		padding-top: 8px;
		max-width: 196px;
		// margin-right: 76px;
	}

	&--phone2 {
		padding-top: 8px;
		// min-width: 155px;
	}

	&--social {
		padding-top: 10px;
	}

	&:last-child {
		margin-right: 0;
	}
}

.footer__logo {
	display: block;
	text-decoration: none;
	margin-bottom: 10px;

	svg {
		margin-right: 5px;
		fill: #2C36F2;
	}

	transition: opacity 0.3s ease;

	&:hover,
	&:focus {
		opacity: 0.7;
	}
}

.footer__logo-text {
	font-family: "WorkSans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #1f1e25;
}

.footer__nav {
	padding-top: 5px;
}

.footer__nav-list {
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.footer__nav-item {
	margin-bottom: 9px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer__nav-link {
	display: block;
	width: max-content;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #1F1E25;

	transition: opacity 0.3s ease;

	&:hover,
	&:focus {
		opacity: 0.7;
	}
}

.footer__small-text {
	margin: 0;
	font-size: 12px;
	color: #707C87;
	line-height: 17px;

	.footer__column--phone2 & {
		padding-left: 34px;
	}

	&--padding {
		padding-left: 29px;
	}
}

.footer__contact {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #1F1E25;

	svg {
		margin-right: 19px;
	}

	transition: opacity 0.3s ease;

	&:hover,
	&:focus {
		opacity: 0.7;
	}
}

.footer__social-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer__social-item {
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}
}

.footer__social-link {
	transition: opacity 0.3s ease;

	&:hover,
	&:focus {
		opacity: 0.7;
	}
}