.slide-stable {
	min-height: 400px;
	background: linear-gradient(90deg, #DEE2ED 0% 25%, #F3F8FE);
	background-image: url('../../img/background2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 102px;
	padding-bottom: 75px;

	@media (max-width: 1023px) {
		min-height: 300px;
		padding-top: 64px;
		padding-bottom: 62px;
		background-image: url('../../img/background2-tablet.jpg');
	}

	@media (max-width: 460px) {
		min-height: 226px;
		padding-top: 40px;
		padding-bottom: 32px;
		background-image: url('../../img/background2-mobile.jpg');
	}
}

.slide-stable__container {
	display: flex;

	@media (max-width: 1023px) {}

	@media (max-width: 767px) {}
}

.slide-stable__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	padding-left: 170px;
	margin-bottom: 15px;

	@media (max-width: 1200px) {
		padding-left: 70px;
	}

	@media (max-width: 1023px) {
		padding-left: 41px;
	}

	@media (max-width: 767px) {
		padding-left: 0;
	}

	@media (max-width: 382px) {
		width: 71%;
	}
}

.slide-stable__title {
	margin: 0;
	color: #1F1E25;
	font-size: 54px;
	line-height: 63px;
	font-weight: 700;
	margin-bottom: 10px;

	@media (max-width: 1023px) {
		margin-bottom: 8px;
		font-size: 46px;
		line-height: 54px;
	}

	@media (max-width: 767px) {
		font-size: 38px;
		line-height: 45px;
	}
}

.slide-stable__text {
	margin: 0;
	color: #2B3C4F;
	margin-bottom: 33px;
	font-size: 22px;
	line-height: 26px;

	@media (max-width: 1023px) {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 29px;
	}

	@media (max-width: 767px) {
		margin-bottom: 26px;
		font-size: 16px;
		line-height: 19px;
	}
}