.popup-enter {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  overflow: scroll;
}

.popup-enter__wrapper {
  position: fixed;
  padding: 57px;
  flex-basis: 100%;
  padding-top: 53px;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background: #F6F7FF;
  border: 4px solid #2C36F2;
  overflow: scroll;

  @media (max-width: 1023px) {
    width: 88.5%;
    padding: 56px 86px;
  }

  @media (max-width: 767px) {
    width: 91%;
    padding: 10px;
    padding-top: 44px;
  }
}

.popup-enter__scroll {
  height: 100%;
  overflow: scroll;
}

.popup-enter__head {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 33px;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    margin-bottom: 18px;
  }
}

.popup-enter__logo {
  fill: #2C36F2;
  margin-right: 9px;
  width: 30px;
  height: 30px;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    margin-right: 10px;
  }
}

.popup-enter__close {
  cursor: pointer;
  border: none;
  background-color: inherit;
  margin-left: auto;
  padding: 0;
  padding-bottom: 6px;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    padding-bottom: 9px;
    margin-right: 4px;
  }
}

.popup-enter__title {
  color: #1F1E25;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {}


  p {
    margin: 0;
    margin-bottom: 0px;
    font-family: "WorkSans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    @media (max-width: 1023px) {
      margin-bottom: -2px;
    }

    @media (max-width: 767px) {
      margin-bottom: -3px;
    }
  }

  span {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: block;

    @media (max-width: 1023px) {}

    @media (max-width: 767px) {}
  }
}

.popup-enter__label {
  display: block;
  text-align: left;
  color: #394959;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    margin-bottom: 6px;
  }
}

.popup-enter__input {
  padding: 21px;
  margin-bottom: 24px;
  width: 100%;
  border: 1px solid #1F1E25;
  background-color: #F6F7FF;
  border-radius: 4px;

  outline: none;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    margin-bottom: 18px;
    padding: 21px;
  }

  &--error {
    border-color: red;
  }

  &--password {
    margin-bottom: 6px;
    padding-right: 50px;

    @media (max-width: 1023px) {}

    @media (max-width: 767px) {
      margin-bottom: 29px;
    }
  }

  &:hover,
  &:focus {
    border-color: #2C36F2;
  }
}

.popup-enter__password {
  position: relative;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {}
}

.popup-enter__private {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: inherit;
  top: 24px;
  right: 19px;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    right: 10px;
  }
}

.popup-enter__link {
  margin-bottom: 26px;
  color: #1F1E25;
  display: block;
  text-align: right;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    text-align: center;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 23px;
  }
}

.popup-enter__button {
  cursor: pointer;
  padding: 20px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  background: #2C36F2;
  border-radius: 4px;
  color: #F6F7FF;
  border: none;

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {

    font-size: 14px;
    line-height: 16px;
    padding: 18px;
    margin-bottom: 11px;
  }
}

.popup-enter__form {

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    padding: 7px;
  }
}

.popup-enter__footer {
  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }

}