.map {
  margin-bottom: 110px;

  @media (max-width: 1023px) {
    margin-bottom: 76px;
  }

  @media (max-width: 767px) {
    margin-bottom: 56px;
  }

}

img {
  width: 100%;
  object-fit: contain;

  @media (max-width: 767px) {
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  @media (max-width: 520px) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.map__title {
  color: #1F1E25;
  font-weight: bold;
  font-size: 41px;
  line-height: 140%;
  margin: 0;
  margin-bottom: 51px;

  @media (max-width: 1023px) {
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 32px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 26px;
  }

}

.map__picture {
  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}